---
layout: layouts/home.njk
permalink: /posts/
eleventyNavigation: 
  key: Writting
  order: 2
---

<h1 class="archive__title">Writting</h1>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}