---
layout: layouts/base.njk
permalink: /bookshelf/
eleventyNavigation:
  <!-- key: Bookshelf -->
  <!-- order: 4 -->
---

<h1>Bookshelf</h1>

{% set bookslist = collections.books %}
{% include "bookslist.njk" %}