---
layout: layouts/home.njk
eleventyNavigation: 
  key: Home
  order: 1
---
<div class="intro">
  <img src="img/ConstantVallee.jpg" width="500" class="intro__image" alt="Portrait of me">
  <p class="intro__pre">Hi, my name is</p>
  <h1 class="intro__title">Constant Vallée</h1>
  <h2 class="intro__content">I'm lead front-end developer at <span class="nobreak">Cirque Du Soleil 🎪</span></h2>
</div>

<section class="archive">
<h2>Latest 3 Posts</h2>
<p>Nothing there yet 😞 </p>
<!-- {% set postslist = collections.posts | head(-3) %}
{% set postslistCounter = collections.posts | length %}
{% include "postslist.njk" %} -->

<!-- <p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p> -->

</section>