---
layout: layouts/home.njk
---
<div class="intro">
  {# <img srcset="img/ConstantVallee@2x.jpg 2x, img/ConstantVallee@3x.jpg 3x" src="img/ConstantVallee.jpg" width="250" height="250" class="intro__image" alt="A photo of Constant"> #}
  <div class="intro__image">
    {% image "img/ConstantVallee.jpg", "A photo of Constant"%}
  </div>
  <p class="intro__pre">Hi, my name is</p>
  <h1 class="intro__title">Constant Vallée</h1>
  <h2 class="intro__content">I'm lead front-end developer at
    <span class="nobreak">Cirque Du Soleil 🎪</span></h2>
</div>

<section class="archive">
  {% set maxPosts = collections.posts.length %}
  <h2 class="archive__title">Latest 3 Posts</h2>
  {% set postslist = collections.posts | head(-3) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}

  <p>More posts can be found in
    <a href="{{ '/posts/' | url }}">the archive</a>.</p>

</section>