.footer {
  align-items: center;
  background-color: var(--primary-maroon);
  bottom: 0;
  box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
  clip-path: polygon(0 50%, 100% 0, 100% 100%, 0 100%);
  display: flex;
  font-size: 0.8em;
  justify-content: end;
  left: 0;
  padding: calc(var(--space) / 2);
  position: absolute;
  right: 0;
  text-align: center;
  color: white;

  > span {
    margin: 0 0.35em;
  }

  a {
    color: currentColor;
  }
}