.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: var(--header-height);
  background-color: var(--page-color);
  top: 0;
  z-index: 10;
  position: fixed;
  width: 100vw;

  @media (min-width: $mid) {
    flex-direction: row;
  }

  .header__left {
    padding: 0 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__list {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (min-width: $mid) {
      flex-direction: row;
      align-items: center;
    }
  }

  & .header__right {
    display: none;
    padding-bottom: 16px;
    
    @media (min-width: $mid) {
      display: flex;
      align-items: center;
      padding-bottom: 0;
    }
  }

  &.menu-opened {
    box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.25);
  }

  &.menu-opened .header__right {
    display: block;
  }

  & .header__item {
    display: inline-block;
  }

  & .home {
    font-size: 18px;

    @media (min-width: $mid) {
      font-size: 32px;
    }
  }

  a {
    display: inline-block;
    padding: 10px;
    
    @media (min-width: $mid) {
      padding: 20px;
    }
  }

  a:link,
  a:visited {
  text-decoration-color: var(--primary-orange);
  transition: 
    text-decoration-thickness 200ms ease-out, 
    text-underline-offset 200ms ease-out,
    text-decoration-color 200ms ease-out,
    color 200ms ease-out
  ; 
    color: var(--title-color);
    font-weight: 500;
  }

  a:link {
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.125em;
    text-decoration-skip-ink: none;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration-thickness: 1.125em;
    text-underline-offset: -0.875em;
  }
}

.toggle-theme {
  background-color: transparent;
  border: 0;
  color: var(--body-color);
  cursor: pointer;
  padding: 10px;

  &:hover {
    opacity: 0.8;
  }
  &:focus {
    outline: none;
  }
}

.nav__burger {
  border: none;
  background-color: transparent;

  @media (min-width: $mid) {
    display: none;
  }

  .burger__container {
    position: relative;
    display: inline-block;
    height: 50px;
    width: 50px;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  
  #burger {
    width: 20px;
    height: 8px;
    position: relative;
    display: block;
    margin: -4px auto 0;
    top: 50%;
  }
  
  .bar {
    width: 100%;
    height: 2px;
    display: block;
    position: relative;
    background: #fff;
    transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
    transition-delay: 0s;
    &.bar--top {
      transform: translateY(0px) rotate(0deg);
    }
    &.bar--btm {
      transform: translateY(6px) rotate(0deg);
    }
  }
  
  .burger__container.menu-opened {
    transform: rotate(90deg);
    & #burger {
      & .bar {
        transition: all 0.4s cubic-bezier(0.4, 0.01, 0.165, 0.99);
        transition-delay: 0.2s;
        &.bar--top {
          transform: translateY(5px) rotate(45deg);
        }
        &.bar--btm {
          transform: translateY(3px) rotate(-45deg);
        }
      }
    }
  }
}

body[data-theme='dark'] {
  & .feather-moon {
    display:none;
  }
}
body[data-theme='light'] {
  & .feather-sun {
    display:none;
  }
}