.intro {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto 1fr;
  gap: 0 30px;
	max-width: var(--content-width);
	margin: 0 auto;
  padding: var(--space);
  align-items: center;
}

.intro__image {
  width: 250px;
  clip-path: polygon(0% 0%, 100% 3%, 98% 99%, 3% 93%);
  transition: clip-path .6s;
  grid-column: 1 / span 1;
  grid-row: 1 / span 3;
}

.intro__pre {
  align-self: end;
}

.intro__content {
  align-self: start;
  font-size: 1.3rem;
  font-weight: 400;
}

body[data-theme="dark"] {
  & .intro__image {
    clip-path: polygon(6px 9px, 99.42% -0.49%, 94.52% 91.43%, 3% 100.57%)
  }
}

.archive {
  display: flex;
  flex-direction: column;
	max-width: var(--content-width);
	margin: 0 auto;
}

.postlist-link {
  text-decoration: none;
  color: var(--title-color);
  transition: color .6s;
  font-size: 1.3em;
  font-weight: 700;

  &:hover,
  &:focus {
    color: var(--primary-orange);
  }
}

.postlist-date {
  color: var(--title-color);
  transition: color .6s;
  font-size: 0.9em;
}

a:link,
  a:visited {
  text-decoration-color: var(--primary-orange);
  transition: 
    text-decoration-thickness 200ms ease-out, 
    text-underline-offset 200ms ease-out,
    text-decoration-color 200ms ease-out,
    color 200ms ease-out
  ; 
  color: var(--title-color);
  transition: color .6s;
}

  a:hover,
  a:focus,
  a:active {
    /* text-decoration-color: var(--color); */
  }

  a:link {
    text-decoration-thickness: 0.125em;
    text-underline-offset: 0.125em;
    text-decoration-skip-ink: none;
  }

  a:hover {
    /* color: var(--background); */
    text-decoration-thickness: 1.125em;
    text-underline-offset: -0.875em;
  }
