@import 'reset';
@import 'mixins';
@import 'utils';
@import 'variables';
@import 'typography';
@import 'header';
@import 'footer';
@import 'home';
@import 'tags';
@import 'about';
@import 'blog';

body {
  background-color: var(--page-color);
  position: relative;
  min-height: 100vh;
  transition: background-color .2s;
}

main {
  padding: 80px 16px 200px;
  
  @media (min-width: $mid) {
    max-width: 800px;
    margin: 0 auto;
    padding: 80px 0 200px;
  }
}