<footer class="footer">
  <div class="footer__left">
    <span class="footer__copyright">© 2021 Constant Vallee</span>
    •
    <span class="footer__links">
      Powered by
      <a href="https://www.11ty.dev">11ty</a>
    </span>
  </div>
  <div class="footer__right">
    <ul>
      <li>
        <a href="/feed.xml">RSS</a>
      </li>
      <li>
        <a href="/bookshelf">Bookshelf</a>
      </li>
      <li>
        <a href="https://twitter.com/ShareandDance">Twitter</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/constantvallee/">Linkedin</a>
      </li>
      <li>
        <a href="https://github.com/covallee">Github</a>
      </li>
      <li>
        <a href="https://codepen.io/cvallee">Codepen</a>
      </li>
    </ul>
  </div>
</footer>