.blog {
  line-height: 1.7;
  text-rendering: optimizeLegibility;
  padding: 2em 0;
  font-family: 'Libre Baskerville', serif;
  letter-spacing: 0.04em;

  & .blog__title {
    margin-bottom: 24px;
  }

  & .blog__back {
    margin-top: 2em;
  }

  & pre {
    display: block;
    background-color: var(--bg-code);
    padding: 2rem 1.5rem;
    margin: 1rem -1rem;
    overflow-x: auto;
    
    @media (min-width: 740px) {
      padding: 32px;
      margin: 1rem -2rem;
      border-radius: 10px;
      width: calc(100% + 64px);
    }
  }


  & code {
    color: var(--title-color);
    font-size: 15px;
    font-family: 'JetBrains Mono', monospace;
  }

  & h1,
  h2,
  h3,
  h4,
  h5 {
    padding: 16px 0;
  }

  & p,
  & li {
    padding: 16px 0;
  }

  & > p:first-child {
    text-indent: 30px;
  }

  & ol {
    list-style: decimal inside;

    & p {
      display: inline;
    }
  }

  /* & .blog__title + p::first-letter {
    font-size: 60px;
    margin-top: 10px;
    line-height: 20px;
    padding: 8px 8px;
    margin-right: 8px;
    float: left;
  } */
}
