.blog {
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  padding: 2em 0;

  & .blog__title{ 
    margin-bottom: 2em;
  }

  & .blog__back {
    margin-top: 2em;
  }

  & p {
    text-indent: 30px;
  }

  & .blog__title + p::first-letter {
    font-size: 70px;
    margin-top: 10px;
    line-height: 60px;
    padding: 8px 15px;
    margin-right: 20px;
    transform: translateY(10px);
  }
}