@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;700&display=swap');

html {
  font-size: var(--base-font-size);
}

/* body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.45;
} */

h1, h2, h3, h4, h5 {
  transition: color .6s;
  color: var(--title-color);
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  line-height: 1.15;
}

li {
  transition: color .6s;
  color: var(--title-color);
}

h1 {
  margin-top: 0;
  font-size: 1.802em;
}

h2 {font-size: 1.602em;}

h3 {font-size: 1.424em;}

h4 {font-size: 1.266em;}

h5 {font-size: 1.125em;}

p {
  transition: color .6s;
  color: var(--title-color);
}