/* breakpoints for media queries */
/* $narrow: 400px;
$mid: 740px;
$wide: 1200px; */

html {
  --base-font-size: 18px;
}

:root {
  --page-color: #c1c1c1;
  --bg-color: #c1c1c1;
  --bg-content-color: #fff;
  --bg-code: #fffbf3;
  --body-color: #444;
  --title-color: #111;
  --link-color: #6b17e6;
  --border-color: rgba(0, 0, 0, 0.1);
  --space: 3.5rem;
  --content-width: 860px;
  --header-height: 60px;
  --radius: 5px;
  --primary-maroon: #861f41;
  --primary-orange: #e87722;
  --p5-primary-orange: color(display-p3 0.82 0.32 0.094);
  --token-comment: #696969;
  --token-punctuation: #545454;
  --token-prop: #007faa;
  --token-number: #008000;
  --token-selector: #aa5d00;
  --token-operator: #008000;
  --token-atrule: #aa5d00;
  --token-keyword: #d91e18;
  --token-regex: #d91e18;
}

:root.dark {
  --page-color: #2e2e2e;
  --bg-color: #2e2e2e;
  --bg-content-color: #0f2d44;
  --bg-code: rgba(0, 0, 0, 0.3);
  --border-color: rgba(255, 255, 255, 0.1);
  --body-color: #ced8de;
  --title-color: #fff;
  --link-color: #af9cef;
  --token-comment: #d4d0ab;
  --token-punctuation: #fefefe;
  --token-prop: #ffa07a;
  --token-number: #00e0e0;
  --token-selector: #abe338;
  --token-operator: #00e0e0;
  --token-atrule: #ffd700;
  --token-keyword: #00e0e0;
  --token-regex: #ffd700;
}
