---
layout: layouts/root.njk
---
{% renderTemplate "webc", data={collections: collections,metadata: metadata} %}
    <site-nav></site-nav>
{% endrenderTemplate %}

<main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
    {{ content | safe }}
</main>

{% renderTemplate "webc" %}
    <site-footer></site-footer>
{% endrenderTemplate %}