---
layout: layouts/base.njk
templateClass: tmpl-post
---
<div class="blog">
<h1 class="blog__title">{{ title }}</h1>

{{ content | safe }}

<div class="blog__back"><a href="{{ '/' | url }}">Home</a></div>
</div>